@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/27/Portland_Shriner_Hospital_full_-_Oregon.JPG'); /* Resmin URL'sini buraya ekleyin */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Ekran yüksekliği kadar kaplasın */
        margin: 0; /* Body'nin default margin'ini kaldırır */
        padding: 0; /* Body'nin default padding'ini kaldırır */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white; /* Yazı rengi */
    }

    h1 {
        margin-bottom: 20px;
    }
</style>

<h1>Hoşgeldiniz</h1>
